.idea/
config.toml
*.json

apps/taskmasters/backloader/backloader
apps/taskmasters/crontask/crontask
apps/taskmasters/http/http
apps/taskmasters/responder/responder
apps/taskmasters/retry/retry
apps/taskmasters/files/files
apps/workers/nop/nop
apps/workers/deduper/deduper
apps/workers/sorttofile/sorttofile

coverage