.idea/
*.toml
*.json

.vscode/

apps/taskmasters/backloader/backloader
apps/taskmasters/crontask/crontask
apps/taskmasters/http/http
apps/taskmasters/responder/responder
apps/taskmasters/retry/retry
apps/taskmasters/files/files
apps/workers/nop/nop
apps/workers/deduper/deduper
apps/workers/sort2file/sort2file
apps/utils/file-watcher/file-watcher
*/stats/stats
apps/workers/sql-load/sql-load
build

coverage
