version: 2.1 

executors:
  go-executor:
    docker:
      - image: cimg/go:1.25
    working_directory: ~/task-tools 

jobs:
  test:
    docker:
      - image: cimg/go:1.25
      - image: minio/minio
        command: server /data
        environment:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
    working_directory: ~/task-tools
    environment:
      MINIO_ENDPOINT: localhost:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    steps:
      - checkout
      - run: go install github.com/jstemmer/go-junit-report/v2@latest
      - run:
          name: Run the tests
          command: |
            mkdir -p junit
            go test -cover -v -coverprofile=coverage.out -covermode=atomic ./... ./apps/... >> tests.out || true 
            go tool cover -func=coverage.out | tail -1
            go tool cover -html=coverage.out -o=cover.html
            go-junit-report -set-exit-code -in tests.out -out junit/test-results.xml
      - store_test_results:
          path: ~/task-tools/junit
      - store_artifacts:
          path: cover.html
      - store_artifacts:
          path: ~/task-tools/junit
      - store_artifacts:
          path: tests.out
  
  build:
    executor: go-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run: 
          name: "docker login" 
          command: echo ${DOCKERHUB_TOKEN} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: "Push Docker Image"
          command: make docker

workflows:
  version: 2
  test_and_build: 
    jobs: 
      - test: 
          filters: 
            tags: 
              only: 
                - /.*/
      - build: 
          requires: 
            - test
          context: 
            - DOCKER
          filters: 
            tags: 
              only: 
                - /.*/